<div class='modal fade' id="editpost-<%= post.id %>-ModalCenter" tabindex='-1' role='dialog' aria-labelledby='editpost-<%= post.id %>-ModalCenterTitle' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id="editpost-<%= post.id %>-ModalCenterTitle">投稿の編集</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <%= form_with model: post, local: true do |f| %>
        <div class='modal-body'>
          <div class='form-group'>
            <%= f.label :item_name, 'アイテム名' %>
              <%= f.text_field :item_name, value: post.item.item_name, class: 'form-control', id: 'editpost-itemname' %>
          </div>
          <div class='form-group'>
            <%= f.label :content, '投稿内容' %>
            <%= f.text_area :content, value: post.content, class: 'form-control', id: 'editpost-content' %>
          </div>
          <div class='form-group'>
            <%= f.label :url, '参考URL' %>
            <%= f.text_field :url, value: post.url, class: 'form-control', id: 'editpost-url' %>
          </div>
          <div class='form-group'>
            <%= f.label :tag_name, 'タグ名(複数の場合はエンターもしくは,で区切る)' %>
            <%= f.text_field :tag_name, value: post.tags.pluck(:tag_name), data: { role: 'tagsinput' }, class: 'form-control tags-form', id: 'editpost-tags' %>
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>キャンセル</button>
          <div class='actions post-edit-btn'>
            <%= f.button '編集する', type: 'button', onclick: 'submit();', class: 'btn btn-primary w-100', id: 'post-edit-btn' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
