<% if user_signed_in? %>
  <div class='loggedin-toppage'>
    <h3 class='page-title'>タイムライン</h3>
    <div class='row'>
      <aside class='col-md-2'>
        <%= render 'partial/posts/timeline_aside' %>
      </aside>
      <div class='col-md-10'>
        <div class='timeline'>
          <% if @following_posts.present? %>
            <div class='feed-area'>
              <%= render 'partial/posts/posts_list', posts: @following_posts %>
            </div>
          <% else %>
            <div class='feed-area'>
              <%= render 'partial/posts/posts_list', posts: @all_posts %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class='top-fluid-wrapper'>
    <div class='container top-fluid-wrapper-inner'>
      <div class='card login-box'>
        <div class='card-body'>
          <h4 class='card-title'>INTELIST</h4>
          <h6 class='card-text mb-4'>気になるものをまとめて管理</h6>
          <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-primary' %>
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
  <div class='container contents-wrapper'>
    <div class='summary-area text-center'>
      <h4>INTELISTとは</h4>
      <p>「この前Aさんに勧めてもらった本は何だっけ」「Bさんと行きたいと話していた場所が思い出せない」</p>
      <p>「〇〇に行きたいといっていたのはCさんとDさんどっちだっけ」というようなド忘れの経験はありませんか？</p>
      <p>INTELISTは、ジャンル問わずやりたいことをシェア・リスト化しておけるSNSアプリです！</p>
    </div>
    <div class='row feature-area text-center'>
      <div class='col'></div>
      <div class='card feature-box col-md-3 mx-3'>
        <div class='card-body'>
          <h5 class='card-title'>タイムライン機能</h5>
          <h6>画像挿入予定…</h6>
          <p class='card-text'>タイムラインで投稿を確認し、他のユーザーがリアルタイムで気になっているものを確認できます</p>
        </div>
      </div>
      <div class='col'></div>
      <div class='card feature-box col-md-3 mx-3'>
        <div class='card-body'>
          <h5 class='card-title'>ランキング機能</h5>
          <h6>画像挿入予定…</h6>
          <p class='card-text'>期間指定したランキングで、人気のアイテムを確認できます</p>
        </div>
      </div>
      <div class='col'></div>
      <div class='card feature-box col-md-3 mx-3'>
        <div class='card-body'>
          <h5 class='card-title'>リスト機能</h5>
          <h6>画像挿入予定…</h6>
          <p class='card-text'>自分の気になっているものを後からリストで確認できます</p>
        </div>
      </div>
      <div class='col'></div>
    </div>
    <div class='start-area text-center'>
      <h4 class='mb-3'>さあ始めよう！</h4>
      <div>
        <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-primary mr-3' %>
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>