<% provide(:title, @user.name) %>
<div class='row'>
  <aside class='col-md-3'>
    <%= render 'partial/users/user_aside' %>
  </aside>
  <div class='col-md-9'>
    <ul class='nav nav-tabs'>
      <li class='nav-item'>
        <%= link_to '自分の投稿', myposts_user_path, remote: true, class: 'nav-link myposts-tab active' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'いいねした投稿', favposts_user_path, remote: true, class: 'nav-link favposts-tab' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'コメントした投稿', composts_user_path, remote: true, class: 'nav-link composts-tab' %>
      </li>
    </ul>
    <div class='row post-area'>
      <% if @myposts.present? %>
        <div class='top-area'>
          <%= render 'partial/users/myposts'  %>
        </div>
      <% elsif @favposts.present? %>
        <div class='top-area'>
          <%= render 'partial/users/favposts' %>
        </div>
      <% elsif @composts.present? %>
        <div class='top-area'>
          <%= render 'partial/users/composts' %>
        </div>
      <% end %>
    </div>
  </div>
</div>