<% provide(:title, @user.name) %>
<h3 class='page-title'><%= @user.name %>のページ</h3>
<div class='row'>
  <aside class='col-md-2'>
    <%= render 'partial/users/user_aside' %>
  </aside>
  <div class='col-md-10'>
    <ul class='nav nav-tabs mb-3'>
      <li class='nav-item'>
        <%= link_to 'ユーザーの投稿', myposts_user_path, remote: true, class: "nav-link myposts-tab #{'active' if @myposts.present? }" %>
      </li>
      <li class='nav-item'>
        <%= link_to 'いいねした投稿', favposts_user_path, remote: true, class: "nav-link favposts-tab #{'active' if @favposts.present? }" %>
      </li>
      <li class='nav-item'>
        <%= link_to 'コメントした投稿', composts_user_path, remote: true, class: "nav-link composts-tab #{'active' if @composts.present? }" %>
      </li>
    </ul>
    <div class='post-area'>
      <% if @myposts.present? %>
        <div class='top-area'>
          <%= render 'partial/posts/posts_list', posts: @myposts %>
        </div>
      <% elsif @favposts.present? %>
        <div class='top-area'>
          <%= render 'partial/posts/posts_list', posts: @favposts %>
        </div>
      <% elsif @composts.present? %>
        <div class='top-area'>
          <%= render 'partial/posts/posts_list', posts: @composts %>
        </div>
      <% else %>
        <span>投稿はまだありません</span>
      <% end %>
    </div>
  </div>
</div>