<nav class='navbar navbar-expand-md navbar-dark bg-dark fixed-top'>
  <%= link_to 'INTELIST', root_path, class: 'navbar-brand', id: 'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav align-items-center ml-auto mr-4'>
      <% if user_signed_in? %>
        <li class='nav-item'><%= link_to 'ランキング', ranking_path, class: 'nav-link' %></li>
        <li class='nav-item dropdown'>
          <a href='#', class='nav-link dropdown-toggle' id='navbarDropdown1 search-dropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            検索
          </a>
          <ul class='dropdown-menu dropdown-menu-right' aria-labelledby='navbarDropdown1' >
            <li class='dropdown-item'><%= link_to 'ユーザー一覧', users_path %></li>
            <li class='dropdown-item'><%= link_to 'アイテム一覧', items_path %></li>
          </ul>
        </li>
        <li class='nav-item dropdown'>
          <a href='#', class='nav-link dropdown-toggle' id='navbarDropdown2' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            アカウント
          </a>
          <ul class='dropdown-menu dropdown-menu-right' aria-labelledby='navbarDropdown2' >
            <li class='dropdown-item'><%= link_to '自分の投稿', user_path(current_user) %></li>
            <li class='dropdown-item'><%= link_to 'マイアイテム', myitems_user_path(current_user) %></li>
            <li class='dropdown-item'><%= link_to 'フォロー/フォロワー', relationships_user_path(current_user, link_name: 'following') %></li>
            <li class='dropdown-item'><%= link_to 'プロフィール編集', edit_user_registration_path %></li>
            <li class='dropdown-divider'></li>
            <li class='dropdown-item'><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li class='nav-item'><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>