<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user), post.user %>
  <span class='user-name'><%= link_to post.user.name, post.user %></span>
  <span class='item'><%= link_to post.item.name, post.item %></span>
  <span class='content'><%= post.content %></span>
  <span class='tags'>
    <% post.tags.each do |tag| %>
      <span class='tag btn-info'><%= tag.tag_name %></span>
    <% end %>
  </span>
  <span class='timestamp'>
    <%= time_ago_in_words(post.created_at) %>前の投稿
  </span>
  <span class='actions'>
    <% if current_user?(post.user) %>
      <%= link_to '削除', post, method: :delete, data: {confirm: '投稿を削除しますか?' } %>
    <% end %>
  </span>
</li>