<% @user ||= current_user %>
<section class='user-profile'>
  <p><%= @user.profile_text %><p>
</section>
<section class='user-posts'>
  <a href='<%= user_path(@user) %>'>
    <span>投稿数　　　｜　<%= @user.posts_count %>件</span>
  </a>
</section>
<section class='user-items'>
  <a href='<%= myitems_user_path(@user) %>'>
    <span>アイテム一覧｜　<%= @user.posts_count %>件</span>
  </a>
</section>
<section class='user-stats'>
  <%= render 'partial/users/stats' %>
</section>
<section class='user-follow'>
  <%= render 'partial/users/follow_form', user: @user %>
</section>
<% if @user == current_user %>
  <% unless action_name == 'myitems' %>
    <section class='user-newpost'>
      <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#exampleModalCenter'>
        新規投稿
      </button>
      <%= render 'partial/posts/post_form' %>
    </section>
  <% end %>
<% end %>