<table class='table'>
  <thead>
    <th scope='col' class='col-md-3'>ユーザー名</th>
    <th scope='col' class='col-md-2'>投稿数</th>
    <th scope='col' class='col-md-2'>フォロー数</th>
    <th scope='col' class='col-md-2'>フォロワー数</th>
    <th scope='col' class='col-md-3'></th>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <th><%= link_to user.name, user_path(user) %></th>
        <td><%= link_to user.posts_count, myposts_user_path(user) %></td>
        <td><%= link_to user.followings_count, following_user_path(user) %></td>
        <td id="user-<%= user.id %>-followers"><%= link_to user.followers_count, followers_user_path(user) %></td>
        <td>
          <%= render 'partial/users/follow_form',  user: user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate users %>