<table class='table'>
  <thead>
    <th scope='col' class='col-md-1'></th>
    <th scope='col' class='col-md-3'><%= sortable 'name', 'ユーザー名', take_user_search_params %></th>
    <th scope='col' class='col-md-2'><%= sortable 'posts_count', '投稿数', take_user_search_params %></th>
    <th scope='col' class='col-md-2'><%= sortable 'followings_count', 'フォロー数', take_user_search_params %></th>
    <th scope='col' class='col-md-2'><%= sortable 'followers_count', 'フォロワー数', take_user_search_params %></th>
    <th scope='col' class='col-md-2'></th>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class='align-middle'>
          <%= show_avatar(user) %>
        </td>
        <th class='align-middle'><%= link_to user.name, user_path(user) %></th>
        <td class='align-middle'><%= link_to user.posts_count, user_path(user) %></td>
        <td class='align-middle'><%= link_to user.followings_count, relationships_user_path(user, link_name: 'following') %></td>
        <td id="user-<%= user.id %>-followers" class='align-middle'><%= link_to user.followers_count, relationships_user_path(user, link_name: 'followers') %></td>
        <td>
          <%= render 'partial/users/follow_form',  user: user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate users %>