<% @user ||= current_user %>
<section class='user-info'>
  <h3><%= link_to @user.name, @user %></h3>
</section>
<section class='user-posts'>
  <span><%= link_to "#{@user.post_count}件の投稿", myposts_user_path(@user) %></span>
</section>
<section class='user-stats'>
  <%= render 'partial/users/stats' %>
</section>
<section class='user-follow'>
  <%= render 'partial/users/follow_form', user: @user %>
</section>
<section class='user-newpost'>
  <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#exampleModalCenter'>
    新規投稿
  </button>
  <%= render 'partial/posts/post_form' %>
</section>
