<% provide(:title, @item.item_name) %>
<div class='titel-area mb-4'>
  <h3 class='item-title page-title'>
    <%= @item.item_name %>
  </h3>
  <span class='item-newpost ml-3'>
    <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#newpostModalCenter'>
      新規投稿
    </button>
    <%= render 'partial/posts/post_form' %>
  </span>
</div>
<div class='row'>
  <aside class='col-md-2'>
    <div class='card tags-list mb-2'>
      <h6 class='card-header'>関連タグ</h6>
      <div class='card-body'>
        <% @tags.each do |tag| %>
          <%= link_to tag.tag_name, items_path(searched: { tag_name: tag.tag_name }), class: 'btn-sm btn-info tag' %>
        <% end %>
      </div>
    </div>
  </aside>
  <div class='posts-area col-md-10'>
    <ul class='nav nav-tabs mb-3'>
      <li class='nav-item'>
        <%= link_to '関連する投稿', item_path, remote: true, class: "nav-link show-posts-tab #{'active' if @show_posts.present? }" %>
      </li>
      <li class='nav-item'>
        <%= link_to '関連リンク一覧', show_links_item_path, remote: true, class: "nav-link show-links-tab #{'active' if @linked_posts.present? }" %>
      </li>
      <li class='nav-item'>
        <%= link_to '関連するユーザー', show_users_item_path, remote: true, class: "nav-link show-users-tab #{'active' if @related_users.present? }" %>
      </li>
    </ul>
    <div class='itme-info-area'>
      <% if @show_posts.present? %>
        <div class='top-area'>
          <%= render 'partial/posts/posts_list', posts: @show_posts %>
        </div>
      <% elsif @linked_posts.present? %>
        <div class='top-area'>
          <%= render 'partial/items/links_list', posts: @linked_posts %>
        </div>
      <% elsif @related_users.present? %>
        <div class='top-area'>
          <%= render 'partial/users/users_list', users: @related_users %>
        </div>
      <% else %>
        <span>投稿はまだありません</span>
      <% end %>
    </div>
  </div>
</div>

