<h3>アイテムランキング</h3>
<div class='row'>
  <div class='col-md-12'>
    <ul class='nav nav-tabs mb-3'>
      <li class='nav-item'>
        <%= link_to '週間', ranking_path, remote: true, class: "nav-link weeklyranking-tab #{'active' if @weekly_items.present? }" %>
      </li>
      <li class='nav-item'>
        <%= link_to '月間', monthly_ranking_path, remote: true, class: "nav-link monthlyranking-tab #{'active' if @monthly_items.present? }" %>
      </li>
      <li class='nav-item'>
        <%= link_to '全期間', all_ranking_path, remote: true, class: "nav-link allranking-tab #{'active' if @all_items.present? }" %>
      </li>
    </ul>
    <div class='items-area'>
      <% if @weekly_items.present? %>
        <div class='top-area'>
          <%= render 'partial/items/items_ranking', items: @weekly_items %>
        </div>
      <% elsif @monthly_items.present? %>
        <div class='top-area'>
          <%= render 'partial/items/items_ranking', items: @monthly_items %>
        </div>
      <% elsif @all_items.present? %>
        <div class='top-area'>
          <%= render 'partial/items/items_ranking', items: @all_items %>
        </div>
      <% else %>
        <span>投稿はまだありません</span>
      <% end %>
    </div>
  </div>
</div>