<% provide(:title, '投稿の詳細') %>
<div class='row'>
  <div class='post-area col-md-6'>
    <div class='card post-area' id='post-<%= @post.id %>'>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          <%= default_avatar if @post.user.avatar.blank? %>
          <%= image_tag @post.user.avatar.url, class: 'rounded' if @post.user.avatar.present? %>
          <strong class='user-name ml-2 align-middle'><%= link_to @post.user.name, @post.user %></strong>
        </li>
        <li class='list-group-item item-comtent'><span>投稿内容　｜　</span><%= @post.content %></li>
        <li class='list-group-item item-name'><span>アイテム名｜　</span><%= link_to @post.item.item_name, @post.item %></li>
        <li class='list-group-item tags-list'><span>タグ　　　｜　</span>
          <% @post.tags.each do |tag| %>
            <%= link_to tag.tag_name, items_path(searched: { tag_name: tag.tag_name }), class: 'btn-sm btn-info tag' %>
          <% end %>
        </li>
        <li class='list-group-item'><span>投稿日時　｜　</span><%= l(@post.created_at) %></li>
        <li class='list-group-item'><span>完了日時　｜　</span>
          <span id='status-info-<%= @post.id %>'><%= render 'partial/posts/status_form', post: @post %></span>
        </li>
        <li class='list-group-item actions-area'>
          <span class='likes' id="like-icon-post-<%= @post.id.to_s %>">
            <% if current_user.like?(@post) %>
              <%= link_to post_like_path(@post.id, @post.liked_by(current_user)), method: :delete, remote: true, class: 'btn' do %>
                <i class='fas fa-heart heart-pink'></i>
                <span class='pl-1'>(<%= @post.likes.count %>件)</span>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(@post), method: :post, remote: true, class: 'btn' do %>
                <i class='far fa-heart heart-none'></i>
                <span class='pl-1'><%= @post.likes.count %>件)</span>
              <% end %>
            <% end %>
          </span>
          <% if current_user.own?(@post) %>
            <%= link_to '#', data: { toggle: 'modal', target: "#editpost-#{ @post.id }-ModalCenter" }, class: 'btn btn-sm btn-success text-white' do %>
              <i class='far fa-edit'></i>
            <% end %>
            <%= link_to @post, method: :delete, data: {confirm: '投稿を削除しますか?' }, class: 'btn btn-sm btn-danger text-white' do %>
              <i class="fas fa-trash-alt"></i>
            <% end %> 
          <% end %>
          <%= render 'partial/posts/edit_form', post: @post %>
        </li>
      </ul>
    </div>
    <% if @post.url.present? %>
    <div class='thumbnail-area mt-2'>
      <%= render 'partial/posts/thumbnail', post: @post, ref_length: 120 %>
    </div>
    <% end %>
  </div>
  <div class='social-area col-md-6'>
    <div class=likes>
      <h6>いいねしたユーザー(<%= @post.likes.count %>人)</h6>
      <% @post.likes.each do |like| %>
        <%= link_to like.user.name, like.user %>
      <% end %>
    </div>
    <div class='comments-area'>
      <div id="comment-post-<%= @post.id.to_s %>">
        <%= render 'partial/posts/comment_list', post: @post %>
      </div>
      <div class='parts' id='comment-form-post-<%= @post.id.to_s %>'>
        <%= form_with model: [@post, Comment.new], local: false do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.text_field :comment, class: 'form-control comment-input border-radius', placeholder: 'コメントを追加する', autocomplete: :off %>
        <% end %>
      </div>
    </div>
  </div>
</div>